{% extends 'base.html' %}

{% block content %}

<body>
    <h1>Ticket ID: {{ ticket.id }}</h1>
    <h2>Summary: {{ ticket.summary }}</h2>
    <p>Description: {{ ticket.description }}</p>
    <p>Status: {{ ticket.status }}</p>
    <p>Assigned To: {{ ticket.assigned_to }}</p>
    <p>Created By: {{ ticket.helpdesk_agent_creator }}</p>
    <p>Created At: {{ ticket.created_at }}</p>

    <hr>
    <a href="{% url 'tickets_list' %}" class="btn btn-secondary"><i class="fa fa-caret-square-o-left" aria-hidden="true"></i> Back</a>
        &nbsp;
    <a href="{% url '' %}" class="btn btn-success"><i class="fa fa-check-square-o" aria-hidden="true"></i> Update ticket</a>
{#    <a href="{% url 'update-ticket' ticket.id %}" class="btn btn-success"><i class="fa fa-check-square-o" aria-hidden="true"></i> Update ticket</a>#}
        &nbsp;
    {% for group in request.user.groups.all %}
        {% if group.name == 'Managers' %}
            <a href="{% url '' %}" class="btn btn-danger"><i class="fa fa-window-close-o" aria-hidden="true"></i> Delete ticket</a>
        {% endif %}
    {% endfor %}
{#    <a href="{% url 'delete-ticket' ticket.id %}" class="btn btn-danger"><i class="fa fa-window-close-o" aria-hidden="true"></i>&nbsp; Delete ticket</a>#}

    <hr>
<p>******** ADD IN UPDATE BUTTON</p>
<p>******** UPDATE AND ADD IN DELETE BUTTON IF MANAGER</p>


</body>

{% endblock %}
