{% extends 'base.html' %}

{% block content %}

<body>

<h1>Helpdesk Tickets Dashboard</h1>
    <hr>
<h2>Welcome, {{ user }}.</h2>
    <p>Here you can see the list of all helpdesk tickets within the helpdesk system.</p>
    <hr>
    <a class="btn btn-outline-primary" href="{% url 'create_ticket' %}"><i class="fa fa-plus-square" aria-hidden="true"></i> Create a new ticket</a>
    <hr>
    
    <table class="table table-hover table-bordered">
        <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Summary</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
                <th scope="col">Assigned To</th>
                <th scope="col">Created By</th>
                <th scope="col">Created At</th>
                <th scope="col">View</th>
            </tr>
        </thead>
        <tbody>
            {% if tickets %}
                {% for ticket in tickets %}
                    <tr>
                        <td>{{ ticket.id }}</td>
                        <td>{{ ticket.summary }}</td>
                        <td>{{ ticket.description }}</td>
                        <td>{{ ticket.status }}</td>
                        <td>{{ ticket.assigned_to }}</td>
                        <td>{{ ticket.helpdesk_agent_creator }}</td>
                        <td>{{ ticket.created_at }}</td>
                        <td><a class="btn btn-outline-primary" href="{% url 'ticket_detail' ticket.id %}"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="8">No tickets found</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</body>

    
{% endblock %}
